<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>dk overview</title>
</head>
<body>
<h1>Greetings, my casual viewer)</h1>
<div style="height: 100px;">I suggest you look at the specializations of my favorite class in world of warcraft, namely
    death knight)<br>
    I made this project in order to show how routing works in flask,<br> I deliberately did not use jinja2, if
    you are interested in this topic, follow the updates in <a href="https://github.com/Garanash">my git hub</a>:)
    Click on the subclass you are interested in
</div>
<div class="flexbox">
    <form action="frost" method="get">
        <button id="id1"></button>
    </form>
    <form action="blood" method="get">
        <button id="id2"></button>
    </form>
    <form action="necr" method="get">
        <button id="id3"></button>
    </form>
</div>
</body>
</html>