<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>dk overview</title>
</head>
<body>
<h1>Greetings, my casual viewer)</h1>
<div style="height: 100px;">I suggest you look at the specializations of my favorite class in world of warcraft, namely
    death knight)<br>
    I made this project in order to show how routing works in flask,<br> I deliberately did not use jinja2, if
    you are interested in this topic, follow the updates in <a href="https://github.com/Garanash">my git hub</a>:)
    Click on the subclass you are interested in
</div>
<div class="flexbox">
    <form action="frost" method="get">
        <button id="id1"></button>
    </form>
    <form action="blood" method="get">
        <button id="id2"></button>
    </form>
    <div class="text-box">
        <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_deathknight_unholypresence.jpg">
        <b style="font-size: 28px; color: red;">Unholy Death Knight Overview</b><br>
        Unholy Death Knight is a 2-hand, plate wearing DPS specialization that focuses on diseases, pets, and shadow
        damage. We summon armies of undead minions, infect our enemies with multiple different plagues, and blow up
        packs of enemies with shadow damage. We are generally a very bursty spec in both single-target and AoE.

        New Unholy Death Knights start at level 8 instead of level 1 since we are a hero class. All races can play
        Unholy Death Knights, except Dracthyr and Earthen. Unholy Death Knight is a spec for players who like big burst
        cooldowns and rewarding AoE gameplay.
    </div>
</div>
</body>
</html>