<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>dk overview</title>
</head>
<body>
<h1>Greetings, my casual viewer)</h1>
<div style="height: 100px;">I suggest you look at the specializations of my favorite class in world of warcraft, namely
    death knight)<br>
    I made this project in order to show how routing works in flask,<br> I deliberately did not use jinja2, if
    you are interested in this topic, follow the updates in <a href="https://github.com/Garanash">my git hub</a>:)
    Click on the subclass you are interested in
</div>
<div class="flexbox">
    <div class="text-box">
        <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_deathknight_frostpresence.jpg">
        <b style="font-size: 28px; color: red;">Frost Death Knight Overview</b><br>
        Frost Death Knight is a Two-Hand and Dual-Wield, <br>
        plate DPS specialization focusing on physical and magical damage. <br>
        We can guarantee critical hits on our primary damage-dealing ability Obliterate with Killing Machine, breathe
        ice on our enemies with Breath of Sindragosa and Frostwyrm's Fury, and engulf our enemies in blizzards with
        Remorseless Winter. We focus heavily on cleave damage that does not cost single-target damage, excelling in
        3-target cleave.<br>
        New Frost Death Knights start at level 8 instead of level 1 since we are a hero class. All races can play Frost
        Death Knights except the Dracthyr. Players who enjoy resource management, reacting to procs, and setting up
        cooldown windows will enjoy Frost.
    </div>
    <form action="blood" method="get">
        <button id="id2"></button>
    </form>
    <form action="necr" method="get">
        <button id="id3"></button>
    </form>
</div>
</body>
</html>