<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>dk overview</title>
</head>
<body>
<h1>Greetings, my casual viewer)</h1>
<div style="height: 100px;">I suggest you look at the specializations of my favorite class in world of warcraft, namely
    death knight)<br>
    I made this project in order to show how routing works in flask,<br> I deliberately did not use jinja2, if
    you are interested in this topic, follow the updates in <a href="https://github.com/Garanash">my git hub</a>:)
    Click on the subclass you are interested in
</div>
<div class="flexbox">
    <form action="frost" method="get">
        <button id="id1"></button>
    </form>
    <div class="text-box">
        <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_deathknight_bloodpresence.jpg">
        <b style="font-size: 28px; color: red;">Blood Death Knight Overview</b><br>
        As one of the six Tank specializations in the game, our design as Blood Death Knights involves a reactive,
        optimization-driven playstyle. We focus on generating as much Runic Power as possible through spells and
        abilities, prioritizing the right one at the appropriate time, and healing damage taken back up with Death
        Strike. Our toolkit consists of a variety of answers for many situations, ranging from self-sustain cooldowns
        such as Vampiric Blood and Dancing Rune Weapon, immunities to specific mechanics, a combat resurrection for
        allies, and even a pet ghoul acting as a source of DPS thanks to Raise Dead!
    </div>
    <form action="necr" method="get">
        <button id="id3"></button>
    </form>
</div>
</body>
</html>